/* Fonts
======================= */

$font_montserrat: 'Montserrat', sans-serif;
$font_open_sans: 'OpenSans', sans-serif;

/* Colors
======================= */

$color_primary: #e76049;
$color_title: #313131;
$color_text: #626262;

/* Border
======================= */

$border_color: #e7e7e7;

/* Animation duration
======================= */

$animation_3ms: .3s;
