<header class="header">
    <div class="header__logo-wrap">
        <a href="#" class="logo" data-page-link="home">
            <svg width="18" height="16" class="logo__icon">
                <use xlink:href="#logo"></use>
            </svg>
            <span class="logo__text"><span class="logo__text-regular">EXTRA</span>ORDINARY</span>
        </a>
    </div>
    <ul class="header__nav">
        <li class="header__nav-btn header__nav-btn_share">
            SHARE

            <!--=include submenu.html -->
        </li>
        <li class="header__nav-btn header__nav-btn_search">
            <a href="#" class="header__nav-link">
                <svg width="20" height="20" class="header__nav-icon">
                    <use xlink:href="#search"></use>
                </svg>
            </a>
        </li>
        <li class="header__nav-btn header__nav-btn_login">
            <a href="#" class="header__nav-link">
                <svg width="22" height="20" class="header__nav-icon">
                    <use xlink:href="#login"></use>
                </svg>
            </a>
        </li>
    </ul>
</header>
