<ul class="submenu">
    <li class="submenu__item">
        <a href="#" class="submenu__link">
            <span class="submenu__item-col submenu__item-col_first">
                <svg width="20" height="20" class="submenu__icon">
                    <use xlink:href="#facebook"></use>
                </svg>
            </span>
            <span class="submenu__item-col submenu__item-col_second">Facebook</span>
        </a>
    </li>
    <li class="submenu__item">
        <a href="#" class="submenu__link">
            <span class="submenu__item-col submenu__item-col_first">
                <svg width="20" height="20" class="submenu__icon">
                    <use xlink:href="#twitter"></use>
                </svg>
            </span>
            <span class="submenu__item-col submenu__item-col_second">Twitter</span>
        </a>
    </li>
    <li class="submenu__item">
        <a href="#" class="submenu__link">
            <span class="submenu__item-col submenu__item-col_first">
                <svg width="20" height="20" class="submenu__icon">
                    <use xlink:href="#googleplus"></use>
                </svg>
            </span>
            <span class="submenu__item-col submenu__item-col_second">Google +</span>
        </a>
    </li>
    <li class="submenu__item">
        <a href="#" class="submenu__link submenu__link_last">
            <span class="submenu__item-col submenu__item-col_first">
                <svg width="20" height="20" class="submenu__icon">
                    <use xlink:href="#pinterest"></use>
                </svg>
            </span>
            <span class="submenu__item-col submenu__item-col_second">Pinterest</span>
        </a>
    </li>
</ul>
